form action="/animals" method="post"
    input name="q" placeholder="Lägg till namn på djur" type="text"
    input name="a" placeholder="Lägg till antal" type="text"
    input type="submit" value="Lägg till!"