form action="/fruit" method="post"
    input name="q" placeholder="Lägg till frukt" type="text"
    input name="a" placeholder="Lägg till antal" type="text"
    input type="submit" value="Lägg till!"
    